{% extends 'base.html.twig' %}

{% form_theme formMember 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="headerMembres">
        <h2>Création d'un membre</h2>
        <button type="submit" class="btn btn-success"> 
        {% if editMode %}
            Enregistrer
        {% else %}
            Ajouter
        {% endif %}
    </button> 
    </div>

    <div class = "col-6 champsCreate">

    {{ form_start(formMember)}}

    {{ form_row(formMember.pseudo, {'attr' : { 'placeholder': "Votre pseudo in game"}}) }}
    {{ form_row(formMember.firstName, {'attr' : { 'placeholder': "Votre prénom"}}) }}

    {{ form_row(formMember.whyUs, {'attr' : { 'placeholder': "Pourquoi la team Nelysis ?"}}) }}
    {{ form_row(formMember.age, {'attr' : { 'placeholder': "Votre age"}}) }}
    {{ form_row(formMember.mainGame, {'attr' : { 'placeholder': "(ex : CSGO)"}}) }}
    {{ form_row(formMember.email, {'attr' : { 'placeholder': "(exemple@gmail.com)"}}) }}
    {{ form_row(formMember.lastTeam, {'attr' : { 'placeholder': "Votre dernière team"}}) }}
    {{ form_row(formMember.goal, {'attr' : { 'placeholder': "Vos objectifs"}}) }}
    {{ form_row(formMember.discord, {'attr' : { 'placeholder': "Votre serveur discord"}}) }}
    {{ form_row(formMember.lineUp) }}

    <button type="submit" class="btn btn-success"> 
        {% if editMode %}
            Enregistrer
        {% else %}
            Ajouter
        {% endif %}
    </button>

    {{ form_end(formMember)}}

    </div>

{% endblock %}