{% extends 'base.html.twig' %}

{% form_theme formMember 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="headerMembres">
        <h2>Création d'un membre</h2>
        <button type="submit" class="btn btn-success"> 
        {% if editMode %}
            Enregistrer
        {% else %}
            Ajouter
        {% endif %}
    </button> 
    </div>

    <div class = "col-5 champsCreate">

        {{ form_start(formMember)}}
        
    <div class ="nameCreate"> 
        {{ form_row(formMember.pseudo,{ "attr" : { "placeholder" : "Pseudo in game"}}) }}
    </div>
    <div class ="nameCreate">
        {{ form_row(formMember.firstName,{ "attr" : { "placeholder" : "Prénom IRL"}}) }}
    </div>
    <div class="tallCreate">
        {{ form_row(formMember.whyUs,{ "attr" : { "placeholder" : "Vos ambitions dans la Nelysis etc..."}}) }}
    </div>
    <div class="ageCreate">
        <span class="labelCreate" >Age</span>
        {{ form_widget(formMember.age) }}
    </div>
    <div class ="nameCreate">
        {{ form_row(formMember.mainGame, { "attr" : { "placeholder" : "Overwatch"}}) }}
    </div>
    <div class="tallCreate">
        {{ form_row(formMember.email, { "attr" : { "placeholder" : "exemple@gmail.com"}}) }}
    </div>
    <div class ="nameCreate">
        {{ form_row(formMember.lastTeam) }}
    </div>
    <div class="tallCreate">
        {{ form_row(formMember.goal, { "attr" : { "placeholder" : "Vos objectifs principaux"}}) }}
    </div>
    <div class ="nameCreate">
        {{ form_row(formMember.discord, { "attr" : { "placeholder" : "Discord ou on peut vous joindre"}}) }}
    </div>
    <div class ="nameCreate">
        {{ form_row(formMember.lineUp) }}
    </div>
    

    <button type="submit" class="btn btn-success"> 
        {% if editMode %}
            Enregistrer
        {% else %}
            Ajouter
        {% endif %}
    </button>

    {{ form_end(formMember)}}

    </div>

{% endblock %}