{% extends 'base.html.twig' %}

{% form_theme formMember 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="headerMembres">
        <h2>Création d'un membre</h2>
        <button type="submit" class="btn btn-success"> 
        {% if editMode %}
            Enregistrer
        {% else %}
            Ajouter
        {% endif %}
    </button> 
    </div>

    <div class = "col-5 champsCreate">

        {{ form_start(formMember)}}
        
    <div class ="nameCreate"> 
        {{ form_row(formMember.pseudo) }}
    </div>
    <div class ="nameCreate">
        {{ form_row(formMember.firstName) }}
    </div>
    <div class="tallCreate">
        {{ form_row(formMember.whyUs) }}
    </div>
    <div class="ageCreate">
        <span class="labelCreate" >Age</span>
        {{ form_widget(formMember.age) }}
    </div>
    <div class ="nameCreate">
        {{ form_row(formMember.mainGame) }}
    </div>
    <div class="tallCreate">
        {{ form_row(formMember.email) }}
    </div>
    <div class ="nameCreate">
        {{ form_row(formMember.lastTeam) }}
    </div>
    <div class="tallCreate">
        {{ form_row(formMember.goal) }}
    </div>
    <div class ="nameCreate">
        {{ form_row(formMember.lineUp) }}
    </div>

    <button type="submit" class="btn btn-success"> 
        {% if editMode %}
            Enregistrer
        {% else %}
            Ajouter
        {% endif %}
    </button>

    {{ form_end(formMember)}}

    </div>

{% endblock %}