<div class="headerMembres">
    <h2>Liste des membres</h2>
     <a href="{{ path('member_create')}}" ><button id="createmembre" type="button" class="btn btn-success">Créer un membre</button></a> 
     <a href="{{ path('lineUp_create') }}"><button type="button" class="btn btn-success">Créer une équipe</button></a>
</div>

<div id="members">
    <table class="table table-hover">
        <thead>
            <tr scope="row">
                <th>Nom</th>
                <th>Pseudo</th>
                <th>Age</th>
                <th>Email</th>
                <th>Jeu principal</th>
                <th>Line-Up</th>
                <th>status</th>
                <th>Date entrée</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr class="clickable-row" data-href="{{ path('member_edit', {'id': member.id}) }}">
                    <td>
                        {{ member.firstName }}
                    </td>
                    <td>
                        {{ member.pseudo }}
                    </td>
                    <td>
                        {{ member.age }}
                    </td>
                    <td>
                        {{ member.email }}
                    </td>
                    <td>
                        {{ member.mainGame }}
                    </td>
                    <td>
                        {% if member.lineUp == NULL %}
                            <span>Aucune</span>
                        {% else %}
                            <span>{{member.lineUp.name}}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if member.status == '0' %}
                            <span>test</span>
                        {% else %}
                            <span>membre</span>
                        {% endif %}
                    </td>
                    <td>
                        {{member.CreatedAt | date('d/m/y')}}
                    </td>
                    <td>
                         <a href="{{ path('member_edit', {'id': member.id}) }}"><button type="button" class="btn btn-success">Modifier</button></a> 
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>