{% extends 'base.html.twig' %}

{% form_theme formTask 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class ="form_create">
    <div class="headerTask">
        <h2>Création d'une tâche</h2>
    <button type="submit" class="btn btn-success"> Ajouter </button>
    </div>

    <div class = "col-5 champsCreate">
        {{ form_start(formTask)}}
    <div class ="nameCreate"> 
        {{ form_row(formTask.title) }}
    </div>
    <div class ="nameCreate">
        {{ form_row(formTask.description) }}
    </div>

    
    <h3> Désigner à :</h3></br>
    <div class="users">
    {% for user in users %}
        <div class="custom-control custom-checkbox  checkbox-dynamic">
            <input class="custom-control-input" type="checkbox" id="check-{{ user.id }}" value="{{ user.id }}">
            <label class="custom-control-label" for="check-{{ user.id }}">{{ user.pseudo }}</label>
        </div>
    {% endfor %}
    </div>

    
    <a href="{{ path('task') }}"><button type="button" class="btn btn-primary">Retour</button></a>

    <button type="submit" class="btn btn-success">Ajouter</button>

    {{ form_end(formTask)}}

    </div>
</div>

{% endblock %}