{% extends 'base.html.twig' %}
{% block body %}
<div class="headerMembres">
    <h2>Liste des tâches</h2>
     <a href="{{ path('task_create')}}"><button id="create_task" type="button" class="btn btn-success">Créer une tâche</button></a> 
</div>


<div class="maTable">
    <table class="table table-hover">
        <thead>
            <tr scope="row">
                <th>Titre</th>
                <th>Description</th>
                <th>Désigné à</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr class="clickable-row" data-href="{{ path('task_edit', {'id': task.id}) }}">
                    <td>
                        {{ task.title }}
                    </td>
                    <td>
                        {{ task.description }}
                    </td>
                    <td>
                    {% if task.user == null %}
                        <span>Aucun</span>  
                    
                    {% else %}
                        {{ task.user.firstName }}
                        {% endif %}
                    </td>
                    <td>
                    {% if task.status == "1" %}
                        <span>Fait</span>  
                    {% endif %}
                    {% if task.status == "0" %}
                        <span>A faire</span>
                    {% endif %}
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


