{% extends 'base.html.twig' %}

{% form_theme formNews 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="form_edit">
    <div class="headerNews">
        <h2>Modification d'un article</h2>
        <button type="submit" class="btn btn-success"> Enregistrer</button> 
        <button type="submit" id="delete_news_{{ news.id }}" class="btn btn-danger">Supprimé</button>
    </div>

    <div class = "col-5 champsCreate">

        {{ form_start(formNews)}}
        
    <div class ="nameCreate"> 
        {{ form_row(formNews.title,{ "attr" : { "placeholder" : "Partenariat"}}) }}
    </div>
    <div class ="nameCreate">
        {{ form_row(formNews.description,{ "attr" : { "placeholder" : "Nouveau partenariat avec Redbull!"}}) }}
    </div>
    
    <a href="{{ path('news') }}"><button type="button" class="btn btn-primary">Retour</button></a>

    <button type="submit" class="btn btn-success"> Enregistrer</button> 
    {{ form_end(formNews)}}

    </div>
</div>

{% endblock %}