{% extends 'base.html.twig' %}

{% form_theme formLineUp 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="form_edit">

    <div class="headerLineUp">
        <h2>Modification d'une équipe</h2>
        <button type="submit" class="btn btn-success"> Enregistrer </button> 
    <button type="submit" id="delete_lineUp_{{ lineUp.id }}" class="btn btn-danger">Supprimé</button>
    </div>

    <div class = "col-5 champsCreate">

        {{ form_start(formLineUp)}}
        
    <div class ="nameCreate"> 
        {{ form_row(formLineUp.name,{ "attr" : { "placeholder" : "Nelysis"}}) }}
    </div>
    <div class ="nameCreate">
        {{ form_row(formLineUp.game,{ "attr" : { "placeholder" : "CSGO"}}) }}
    </div>
    
    <a href="{{ path('lineUp') }}"><button type="button" class="btn btn-primary">Retour</button></a>

    <button type="submit" class="btn btn-success"> Enregistrer </button> 


    {{ form_end(formLineUp)}}

    </div>
</div>
{% endblock %}